tags/meehome-java-user-1.1/meehome-java-user-ws-client/src/resources/fr/meehome/user/ws-client/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.user.meehome.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserService" targetNamespace="http://ws.user.meehome.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.user.meehome.fr/" elementFormDefault="unqualified" targetNamespace="http://ws.user.meehome.fr/" version="1.0">
<xs:element name="delete" type="tns:delete"/>
<xs:element name="deleteResponse" type="tns:deleteResponse"/>
<xs:element name="getAll" type="tns:getAll"/>
<xs:element name="getAllResponse" type="tns:getAllResponse"/>
<xs:element name="getUserByEmail" type="tns:getUserByEmail"/>
<xs:element name="getUserByEmailResponse" type="tns:getUserByEmailResponse"/>
<xs:element name="isAuthorized" type="tns:isAuthorized"/>
<xs:element name="isAuthorizedResponse" type="tns:isAuthorizedResponse"/>
<xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="isAuthorized">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="isAuthorizedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAll">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDto"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
      <xs:element minOccurs="0" name="roleEnumDto" type="tns:roleEnumDto"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserByEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserByEmailResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDto"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="roleEnumDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATEUR"/>
      <xs:enumeration value="VISITEUR"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllResponse">
    <wsdl:part element="tns:getAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAuthorizedResponse">
    <wsdl:part element="tns:isAuthorizedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAll">
    <wsdl:part element="tns:getAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByEmail">
    <wsdl:part element="tns:getUserByEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAuthorized">
    <wsdl:part element="tns:isAuthorized" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByEmailResponse">
    <wsdl:part element="tns:getUserByEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAuthorized">
      <wsdl:input message="tns:isAuthorized" name="isAuthorized">
    </wsdl:input>
      <wsdl:output message="tns:isAuthorizedResponse" name="isAuthorizedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAll" name="getAll">
    </wsdl:input>
      <wsdl:output message="tns:getAllResponse" name="getAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByEmail">
      <wsdl:input message="tns:getUserByEmail" name="getUserByEmail">
    </wsdl:input>
      <wsdl:output message="tns:getUserByEmailResponse" name="getUserByEmailResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAuthorized">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isAuthorized">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isAuthorizedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserByEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceSoapBinding" name="UserServicePort">
      <soap:address location="http://localhost:8080/meehome-java-user-ws/services/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>